@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

.main-bg {
    background-image: url(../images/liverpool.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

main {
    width: 90%;
}


.player-img {
    width: 337px;
    height: 170px;
    border-radius: 5px;
}